/* General Styles */
.projectsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Space between each project */
  padding-top: 5%;
  margin: 0 10%;
  color: var(--color-text);
  position: relative;
}

.title {
  color: var(--color-text);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5%;
}

/* Container for individual projects */
.projectContainer {
  display: flex;
  flex-direction: row;
  gap: 20px; 
  align-items: flex-start;
  background-color: var(--color-project); 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: center;
  position: relative;
}

.projectContainer:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.7); 
}

.projectImage {
  width: 600px; /* Adjust width as needed */
  height: 350px; /* Adjust height as needed */
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  object-fit: cover; /* Cover to avoid distortion */
}

.projectDetails {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 2;
  flex-grow: 1; /* Allow details to grow and fill available space */
  padding: 0 20px; /* Add padding to avoid overlap */
}

.projectDetails h3 {
  margin: 0;
  font-size: 1.6em; /* Larger font size for titles */
  background: var(--hero-color);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* For other browsers */
  color: transparent; /* Makes the text color transparent */
}

.projectDetails p {
  margin-top: 5%;
}

/* Skills and Links */
.skillButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align buttons */
  gap: 10px; /* Space between buttons */
  margin-top: 5%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.skillImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillIcon {
  width: 40px;
  height: 40px;
}

.skill p {
  margin-top: 5px;
}

.projectLinks {
  display: flex;
  flex-direction: row; /* Default direction */
  justify-content: center;
  gap: 10px; /* Space between buttons */
  flex-wrap: wrap; /* Allow wrapping of buttons if needed */
  margin-top: 20px; /* Ensure space above the links */
}

.projectLinks a {
  color: var(--button-color); 
  background: var(--hero-color);
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
  display: inline-block; 
  text-align: center;
  box-shadow: 0 4px 8px var(--box-color);
}

.projectLinks a:hover {
  color: var(--button-color); 
  background: var(--hero-color); 
  box-shadow: 0 0 10px var(--box-color); 
  border-color: var(--hero-color); 
}

/* For mobile devices */
@media (max-width: 830px) {


  .projectContainer {
    flex-direction: column; /* Stack image and details vertically */
    gap: 15px; /* Increased space between image and details */
    padding: 15px; /* Reduce padding */
    box-shadow: none; /* Remove shadow for simplicity */
  }

  .projectImage {
    max-width: 100%;
    max-height: 250px; /* Adjust height as needed */
    object-fit: cover; /* Cover to avoid distortion */
  }

  .projectDetails {
    padding: 10px; /* Add padding to avoid overlap */
  }

  .projectDetails h3 {
    font-size: 1.25em; 
  }
  
  .projectDetails p {
    font-size: 1em; 
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Ensure space between skills */
  }

  .projectLinks {
    flex-direction: row; /* Stack links vertically */
    gap: 10px; /* Space between links */
    margin-top: 20px; /* Ensure space above the links */
  }

  .projectLinks a {
    font-size: 1em; 
  }
}

/* For mobile devices */
@media (max-width: 600px) {
  .title {
    font-size: 1em;
    margin-bottom: 0%;
  }

  .projectContainer {
    flex-direction: column; /* Stack image and details vertically */
    gap: 10px; /* Increased space between image and details */
    padding: 15px; /* Reduce padding */
    box-shadow: none; /* Remove shadow for simplicity */
  }

  .projectImage {
    max-width: 100%;
    max-height: 200px; /* Adjust height as needed */
    object-fit: cover; /* Cover to avoid distortion */
  }

  .projectDetails {
    padding: 10px; /* Add padding to avoid overlap */
  }

  .projectDetails h3 {
    font-size: 1em; 
  }
  
  .projectDetails p {
    font-size: 14px;
  }
  .skillIcon {
    width: 30px;
    height: 30px;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Ensure space between skills */
  }

  .projectLinks {
    flex-direction: row; /* Stack links vertically */
    gap: 10px; /* Space between links */
    margin-top: 10px; /* Ensure space above the links */
  }

  .projectLinks a {
    font-size: 14px; 
  }
}

