@import "../../vars.css";

.container {
  color: var(--color-text);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20%;
  overflow: hidden; /* Hide overflow */
  z-index: 1;
}

/* Flex layout for content alignment */
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  text-align: left; /* Ensure text aligns to the left */
}

/* Title styling with slide-in animation */
.title {
  color: var(--color-text);
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background-clip: text;
  white-space: normal; /* Allow text wrapping */
  overflow: hidden;
  animation: slideIn 1s ease-out; /* Apply the slide-in animation */
  word-wrap: break-word; /* Ensure long words break */
}
.name {
  background: var(--hero-color);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* For other browsers */
  color: transparent; /* Makes the text color transparent */
}

/* Keyframes for slide-in effect */
@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Description styling with typing and blinking animations */
.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 3%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid var(--typer-color); /* Cursor */
  animation: typing 1s steps(20, end) 1s forwards, blinking 1s infinite;
  width: 0;
}

/* Keyframes for typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* Keyframes for blinking cursor effect */
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: var(--typer-color) }
}


/* Icons styling with animation */
.icons {
  display: flex;
  gap: 20px; /* Space between icons */
  animation-delay: 2s;
  animation: slideIn 1s ease-out; /* Apply the slide-in animation */
}

.icon {
  width: 45px;
  height: 45px;
  transition: transform 0.3s ease; /* Smooth hover effect */
}

/* Icon hover effect */
.icon:hover {
  transform: scale(1.2); /* Enlarge the icon on hover */
}

/* Responsive Design for max-width: 830px */
@media screen and (max-width: 830px) {
  .container {
    padding-top: 10%; /* Adjust padding for smaller screens */
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
  }

  .content {
    align-items: center; /* Center content */
    text-align: center; /* Center text */
  }

  .title {
    font-size: 35px; /* Adjust font size */
    margin-bottom: 20px; /* Adjust margin */
  }

  .description {
    font-size: 24px; /* Adjust font size */
    width: 80%; /* Ensure description width adjusts */
  }

  .icons {
    gap: 15px; /* Reduce space between icons */
  }

  .icon {
    width: 40px; /* Adjust icon size */
    height: 40px; 
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 60% }
  }
}

/* Responsive Design for max-width: 400px */
@media screen and (max-width: 500px) {
  .title {
    font-size: 20px;
    line-height: 30px; /* Adjust line height */
  }

  .description {
    font-size: 16px; /* Reduce description size */
    padding-bottom: 10px;
  }

  .content {
    text-align: center; /* Center text on smaller screens */
    align-items: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Add padding for mobile */
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
  /* Keyframes for typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 90% }
  }
  
}

@media screen and (max-width: 1060px) {
  @keyframes typing {
    from { width: 0 }
    to { width: 60% }
  }
}
@media screen and (max-width: 600px) {
  @keyframes typing {
    from { width: 0 }
    to { width: 75% }
  }
}