@import "../../vars.css";

.container {
  color: var(--color-text);
  position: relative;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  padding: 40px;
  border: 2px solid transparent;
  border-radius: 5px;
  border-image: var(--hero-color) 1; 
  background-color: var(--skill-color);
  box-shadow: 0 4px 8px var(--glow-color);
  display: inline-block; 
  
}

.title {
  color: var(--color-text);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7%;
  
}

.content {
  display: flex;
  flex-direction: column;
  gap: 100px; /* Adds spacing between categories */
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  animation: float 3s ease-in-out infinite;
  animation-duration: calc(3s + (var(--skill-index) * 0.1s)); /* Different duration */
  animation-delay: calc(var(--skill-index) * 0.1s); /* Different delay */
}

.skillImageContainer {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.skillImageContainer img {
  width: 50px;
}

.skill p {
  font-size: 20px;
  font-weight: 100;
}

.skill:hover {
  background: var(--hero-color); /* Apply the gradient */
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* For other browsers */
  color: transparent; /* Make the text transparent so the background shows */
  transform: scale(1.1); /* Enlarge on hover */
  transition: transform 0.3s ease;
}


@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 50px; /* Adjust gap between sections */
  }
  .title {
    font-size: 1.25em;
  }

  .skills {
    padding-top:5%;
    gap: 50px; /* Reduce gap between skills */
  }

  .skill p {
    font-size: 1em; /* Reduce font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 20px; 
  }
  .content {
    align-items: center;
    gap: 50px; /* Adjust gap between sections */
  }
  .title {
    font-size: 1em;
  }

  .skills {
    padding-top:5%;
    gap: 20px; /* Reduce gap between skills */
  }

  .skillImageContainer{
    width: 20px;
    height: 20px;
  } 
  
  .skillImageContainer img {
    width: 25px;
    height: 25px;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .skill p {
    font-size: 14px; /* Reduce font size for smaller screens */
  }
}

