@import "tailwindcss";
@import "tw-animate-css";
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
@layer base {
  :root {
    --background: oklch(98.5% 0 0); /* zinc-50 */
    --foreground: oklch(21% 0.006 285.885); /* zinc-900 text */
    --muted: rgb(244, 244, 245); /* zinc-100 */
    --muted-foreground: rgb(82, 82, 92); /* zinc-600 subtext */

    --primary: #4e37f6; /* indigo-600 */
    --primary-light: oklch(96.2% 0.018 272.314); /* indigo-50 */
    --primary-dark: oklch(35.9% 0.144 278.697); /* indigo-900 */
    --primary-foreground: oklch(97.7% 0.014 308.299); /* text slate-950 */

    --secondary: oklch(66.7% 0.295 322.15); /* fuchsia-500 */
    --secondary-light: oklch(97.7% 0.017 320.058); /* fuchsia-50 */
    --secondary-dark: oklch(40.1% 0.17 325.612); /* fuchsia-900 */
    --secondary-foreground: oklch(18% 0.015 260);

    --tertiary: #a977ff; /* purple-400 */
    --card: oklch(92% 0.004 286.32); /* zinc-200 */
    --card-foreground: oklch(44.2% 0.017 285.786); /* zinc-600 subtext */

    --popover: oklch(100% 0 0);
    --popover-foreground: oklch(20% 0.015 260);

    --accent: oklch(90% 0.025 230); /* light bluish accent */
    --accent-foreground: oklch(25% 0.015 260);

    --destructive: oklch(60% 0.18 30); /* strong orange-red */
    --destructive-foreground: oklch(98% 0.01 260);

    --input: oklch(95% 0.01 260);
    --ring: #4e37f6;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0b0b0c; /* bg */
    --foreground: #f2f2dc; /* text */
    --muted: rgb(24, 24, 27); /* zinc-900 */
    --muted-foreground: #d0d0bc; /* subtext */

    --card: oklch(27.4% 0.006 286.033); /* zinc-800 */
    --card-foreground: oklch(87.1% 0.006 286.286); /* zinc-300 */

    --primary-light: oklch(98.2% 0.018 155.826); /* emerald-50 */
    --primary-dark: oklch(37.8% 0.077 168.94); /* emerald-900 */
    --primary-foreground: oklch(14.1% 0.005 285.823); /* text zinc-950 */

    --secondary-light: oklch(98.6% 0.031 120.757); /* lime-50 */
    --secondary-dark: oklch(40.5% 0.101 131.063); /* lime-900 */
    --secondary-foreground: oklch(98.4% 0.003 247.858);

    --primary: #d0fe38; /* neon green */
    --secondary: #ffa447; /* orange */
    --tertiary: #a977ff; /* neon purple */

    --popover: oklch(24% 0.02 260);
    --popover-foreground: oklch(95% 0.005 260);

    --accent: oklch(42% 0.035 220); /* blue-gray accent */
    --accent-foreground: oklch(96% 0.01 260);

    --destructive: oklch(74.113% 0.15755 21.594); /* Vibrant Coral-Red */
    --destructive-foreground: #000000;

    --input: oklch(30% 0.02 260);
    --ring: oklch(70.192% 0.15767 160.464); /* vibrant green ring */
  }
}

@layer base {
  * {
    @apply border-foreground/50;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    font-family: "General Sans", sans-serif;
  }
}

/* .playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.pathway-gothic {
  font-family: "Pathway Gothic One", sans-serif;
  font-style: normal;
} */

/* ROLLING TEXT HOVER ANIMATION */
.text:hover .letter,
.text.play .letter {
  transform: translateY(-100%);
}

.text .block:last-child .letter {
  display: inline-block;
}

.text .letter {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.letter:nth-child(1) {
  transition-delay: 0s;
}

.letter:nth-child(2) {
  transition-delay: 0.02s;
}

.letter:nth-child(3) {
  transition-delay: 0.04s;
}

.letter:nth-child(4) {
  transition-delay: 0.08s;
}

.letter:nth-child(5) {
  transition-delay: 0.1s;
}

.letter:nth-child(6) {
  transition-delay: 0.12s;
}

.letter:nth-child(7) {
  transition-delay: 0.14s;
}

.letter:nth-child(8) {
  transition-delay: 0.16s;
}

.letter:nth-child(9) {
  transition-delay: 0.18s;
}
.letter:nth-child(10) {
  transition-delay: 0.2s;
}
.letter:nth-child(11) {
  transition-delay: 0.22s;
}
.letter:nth-child(12) {
  transition-delay: 0.24s;
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

/* Floating animation */
.floating {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Pulse animation */
.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-t from-primary to-primary bg-clip-text text-transparent;
  }
  .text-gradient2 {
    @apply bg-gradient-to-tr from-muted-foreground via-foreground to-muted-foreground bg-clip-text text-transparent;
  }
  .gradient {
    @apply bg-gradient-to-tl from-primary to-primary;
  }
  .gradient-border {
    @apply bg-gradient-to-t from-primary-dark to-primary-dark;
  }
  .gradient-10 {
    @apply bg-gradient-to-tl from-primary/10 to-primary/10;
  }
  .gradient-light {
    @apply bg-gradient-to-t from-primary/40 to-primary/40 backdrop-blur-xs;
  }
  .test {
    @apply bg-muted border  transition hover:bg-gradient-to-t from-primary/40 to-primary/40;
  }
  .glow {
    @apply absolute z-40 size-40 rounded-full blur-[150px] dark:blur-3xl;
    background: radial-gradient(
      circle,
      var(--primary) 100%,
      var(--secondary) 100%
    );
  }

  .mask-location-icon {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2C8.14 2 5 5.14 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.86-3.14-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z'/%3E%3C/svg%3E")
      no-repeat center;
    mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEyIDJDOC4xNCAyIDUgNS4xNCA1IDljMCA1LjI1IDcgMTMgNyAxM3M3LTcuNzUgNy0xM2MwLTMuODYtMy4xNC03LTctN3ptMCA5LjVjLTEuMzggMC0yLjUtMS4xMi0yLjUtMi41UzEwLjYyIDYuNSAxMiA2LjVzMi41IDEuMTIgMi41IDIuNS0xLjEyIDIuNS0yLjUgMi41eiIvPjwvc3ZnPg==")
      no-repeat center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .mask-music-icon {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 18V5l12-2v13'/%3E%3Ccircle cx='6' cy='18' r='3'/%3E%3Ccircle cx='18' cy='16' r='3'/%3E%3C/svg%3E")
      no-repeat;
    mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLW11c2ljNC1pY29uIGx1Y2lkZS1tdXNpYy00Ij48cGF0aCBkPSJNOSAxOFY1bDEyLTJ2MTMiLz48cGF0aCBkPSJtOSA5IDEyLTIiLz48Y2lyY2xlIGN4PSI2IiBjeT0iMTgiIHI9IjMiLz48Y2lyY2xlIGN4PSIxOCIgY3k9IjE2IiByPSIzIi8+PC9zdmc+")
      no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .mask-sparkle-icon {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 18V5l12-2v13'/%3E%3Ccircle cx='6' cy='18' r='3'/%3E%3Ccircle cx='18' cy='16' r='3'/%3E%3C/svg%3E")
      no-repeat;
    mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNwYXJrbGVzLWljb24gbHVjaWRlLXNwYXJrbGVzIj48cGF0aCBkPSJNOS45MzcgMTUuNUEyIDIgMCAwIDAgOC41IDE0LjA2M2wtNi4xMzUtMS41ODJhLjUuNSAwIDAgMSAwLS45NjJMOC41IDkuOTM2QTIgMiAwIDAgMCA5LjkzNyA4LjVsMS41ODItNi4xMzVhLjUuNSAwIDAgMSAuOTYzIDBMMTQuMDYzIDguNUEyIDIgMCAwIDAgMTUuNSA5LjkzN2w2LjEzNSAxLjU4MWEuNS41IDAgMCAxIDAgLjk2NEwxNS41IDE0LjA2M2EyIDIgMCAwIDAtMS40MzcgMS40MzdsLTEuNTgyIDYuMTM1YS41LjUgMCAwIDEtLjk2MyAweiIvPjxwYXRoIGQ9Ik0yMCAzdjQiLz48cGF0aCBkPSJNMjIgNWgtNCIvPjxwYXRoIGQ9Ik00IDE3djIiLz48cGF0aCBkPSJNNSAxOEgzIi8+PC9zdmc+")
      no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .mask-mail-icon {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m0 4l-8 5l-8-5V6l8 5l8-5z'/%3E%3C/svg%3E")
      no-repeat center;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m0 4l-8 5l-8-5V6l8 5l8-5z'/%3E%3C/svg%3E")
      no-repeat center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .mask-linkedin-icon {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z'/%3E%3C/svg%3E")
      no-repeat center;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z'/%3E%3C/svg%3E")
      no-repeat center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .mask-github-icon {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M12.001 2c-5.525 0-10 4.475-10 10a9.99 9.99 0 0 0 6.837 9.488c.5.087.688-.213.688-.476c0-.237-.013-1.024-.013-1.862c-2.512.463-3.162-.612-3.362-1.175c-.113-.288-.6-1.175-1.025-1.413c-.35-.187-.85-.65-.013-.662c.788-.013 1.35.725 1.538 1.025c.9 1.512 2.337 1.087 2.912.825c.088-.65.35-1.087.638-1.337c-2.225-.25-4.55-1.113-4.55-4.938c0-1.088.387-1.987 1.025-2.687c-.1-.25-.45-1.275.1-2.65c0 0 .837-.263 2.75 1.024a9.3 9.3 0 0 1 2.5-.337c.85 0 1.7.112 2.5.337c1.913-1.3 2.75-1.024 2.75-1.024c.55 1.375.2 2.4.1 2.65c.637.7 1.025 1.587 1.025 2.687c0 3.838-2.337 4.688-4.562 4.938c.362.312.675.912.675 1.85c0 1.337-.013 2.412-.013 2.75c0 .262.188.574.688.474A10.02 10.02 0 0 0 22 12c0-5.525-4.475-10-10-10'/%3E%3C/svg%3E")
      no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M12.001 2c-5.525 0-10 4.475-10 10a9.99 9.99 0 0 0 6.837 9.488c.5.087.688-.213.688-.476c0-.237-.013-1.024-.013-1.862c-2.512.463-3.162-.612-3.362-1.175c-.113-.288-.6-1.175-1.025-1.413c-.35-.187-.85-.65-.013-.662c.788-.013 1.35.725 1.538 1.025c.9 1.512 2.337 1.087 2.912.825c.088-.65.35-1.087.638-1.337c-2.225-.25-4.55-1.113-4.55-4.938c0-1.088.387-1.987 1.025-2.687c-.1-.25-.45-1.275.1-2.65c0 0 .837-.263 2.75 1.024a9.3 9.3 0 0 1 2.5-.337c.85 0 1.7.112 2.5.337c1.913-1.3 2.75-1.024 2.75-1.024c.55 1.375.2 2.4.1 2.65c.637.7 1.025 1.587 1.025 2.687c0 3.838-2.337 4.688-4.562 4.938c.362.312.675.912.675 1.85c0 1.337-.013 2.412-.013 2.75c0 .262.188.574.688.474A10.02 10.02 0 0 0 22 12c0-5.525-4.475-10-10-10'/%3E%3C/svg%3E")
      no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

@layer utilities {
  @keyframes bg-shine {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  .animate-bg-shine {
    animation: bg-shine 2.2s linear infinite;
  }
}

.arrow-path {
  stroke-dasharray: 60; /* total length of path (estimate, you can tweak) */
  stroke-dashoffset: 60; /* hide entire stroke initially */
  animation: draw-arrow 1s forwards;
  animation-delay: 0s; /* optional delay */
}

.group:hover .arrow-path {
  animation: draw-arrow 1s forwards;
}

@keyframes draw-arrow {
  to {
    stroke-dashoffset: 0; /* reveal stroke */
  }
}

@theme {
  --inline-animation-slide-in-top-right: slide-in-from-top-right 0.3s ease-out;
  --inline-animation-slide-out-top-right: slide-out-to-top-right 0.3s ease-in;

  @keyframes slide-in-from-top-right {
    from {
      transform: translate(100%, -100%);
    }
    to {
      transform: translate(0, 0);
    }
  }
  @keyframes slide-out-to-top-right {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(100%, -100%);
    }
  }
}
