@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
@layer base {
  :root {
    --background: oklch(98.5% 0.008 106.5); /* olive-50 */
    --foreground: oklch(22.8% 0.013 107.4); /* olive-900 */

    --muted: oklch(96.6% 0.005 106.5); /* olive-100 */
    --muted-foreground: oklch(46.6% 0.025 107.3); /* olive-600 */

    --primary: oklch(28.4% 0.023 107.4); /*  olive-800 */
    --primary-foreground: oklch(98.5% 0.008 106.5); /* olive-50 */

    --border: oklch(86.5% 0.018 106.9); /*  olive-200 */

    --secondary: oklch(91.2% 0.015 106.7); /* Slightly darker than muted */
    --secondary-foreground: oklch(21.3% 0.018 107.2); /* Deep olive text */

    --card: #f7f7ee;
    --card-foreground: #0b0b0c;

    --popover: #fdfdf5;
    --popover-foreground: #0b0b0c;

    /* Accents become subtle highlights */
    --accent: #f2f2dc;
    --accent-foreground: #4a4d00;

    --destructive: oklch(61.604% 0.19938 23.378);
    --destructive-foreground: #fdfdf5;

    --input: #e2e2d5;
    --ring: #eff28d;
  }

  .dark {
    --background: oklch(15.3% 0.006 107.1); /* olive-950 */
    --foreground: oklch(98.7% 0.026 102.212); /* yellow-50 */

    --muted: oklch(22.8% 0.013 107.4); /* olive-900 */
    /* --muted-foreground: oklch(80% 0.02 102.2); */
    --muted-foreground: oklch(98.73% 0.02613 102.266 / 0.8); /* yellow-50/80 */

    --primary: oklch(94.5% 0.129 101.54); /* yellow-200 */
    --primary-foreground: oklch(15.3% 0.006 107.1); /* olive-950 */

    --border: oklch(39.4% 0.023 107.4); /* olive-700 */

    --secondary: oklch(25% 0.015 107.4); /* Slightly lighter than --muted */
    --secondary-foreground: oklch(93% 0.015 106.5); /* Soft light-olive text */

    --card: #18181b;
    --card-foreground: #f2f2dc;

    --popover: #0b0b0c;
    --popover-foreground: #f2f2dc;

    --accent: #1e1e21;
    --accent-foreground: #eff28d;

    --destructive: oklch(71.2% 0.194 13.428);
    --destructive-foreground: oklch(71.2% 0.194 13.428);
    --input: #18181b;
    --ring: #eff28d;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-general-sans), sans-serif;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  * {
    @apply border-border;
  }
}

html {
  scroll-behavior: smooth;
}

@utility prose-custom {
  @apply prose max-w-none;
  @apply prose-headings:text-foreground prose-headings:font-medium prose-headings:text-lg md:prose-headings:text-xl;
  @apply prose-p:text-muted-foreground prose-p:text-sm md:prose-p:text-base prose-p:leading-relaxed;
  @apply prose-strong:text-muted-foreground prose-strong:font-medium;
  @apply prose-ul:text-muted-foreground prose-ul:font-normal prose-ul:text-sm md:prose-ul:text-base;
  @apply prose-ol:text-muted-foreground prose-ol:font-normal prose-ol:text-sm md:prose-ol:text-base;
  @apply prose-code:bg-muted prose-code:text-foreground prose-code:rounded prose-code:font-normal;
  @apply prose-code:before:content-none prose-code:after:content-none;

  /* CSS Variables and custom subselectors */
  --tw-prose-bullets: var(--foreground);
  --tw-prose-counters: var(--foreground);

  & li strong {
    @apply text-foreground;
  }

  & code {
    @apply mx-1 px-1;
  }
}

/* Disable all transitions during a View Transition snapshot */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* Temporary global override to stop Tailwind transitions from executing mid-snapshot */
html::view-transition {
  background: transparent;
}
html::view-transition-group(root) {
  animation-duration: 0s;
}
