@import "../../vars.css";
.container {
  position: relative;
  padding: 40px;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid transparent;
  border-radius: 5px;
  border-image: var(--hero-color) 1;
  box-shadow: 0 4px 8px var(--glow-color);
  background-color: var(--skill-color);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centers content vertically */
  position: relative;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%; /* Takes up 40% of the container */
  position: relative;
}

.title {
  color: var(--color-text);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10%;
}

.avatar {
  width: 200px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.aboutText {
  color: var(--color-text);
  font-size: 20px;
  line-height: 2;
  max-width: 50%; /* Takes up 50% of the container */
}

.aboutText p {
  margin: 0;
  padding-bottom: 20px;
}

.aboutText p:last-child {
  padding-bottom: 0;
}

.aboutText .icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.name {
  background: var(--hero-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 830px) {
  .content {
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }

  .title, .aboutText {
    text-align: center; 
  }

  .aboutText {
    padding-top: 5%;
    font-size: 1em; 
    max-width: 100%; 
  }

  .title {
    font-size: 1.25em;
  }
}


/* For very small screens (mobile) */
@media (max-width: 600px) {
  .container {
    padding: 20px; 
  }

  .avatar {
    width: 120px; 
  }
  .title {
    font-size: 1em;
    white-space: nowrap;
  }

  .aboutText {
    font-size: 14px; 
    line-height: 1.5;
  }
}