@import "../../vars.css";

.container {
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10%;
  padding: 5%;

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  border: 2px solid transparent;
  border-radius: 10px;
  border-image: var(--hero-color) 1; 
  background-color: var(--skill-color);
  box-shadow: 0 4px 8px var(--glow-color);
  

}

.text h2 {
  color: var(--color-text);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
}

.text p {
  padding-top: 20%;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  background: var(--hero-color);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* For other browsers */
  color: transparent; /* Makes the text color transparent */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.form.animate {
  opacity: 1;
  transform: translateY(0);
  animation-delay: calc(var(--skill-index) * 0.1s); /* Wave Effect */
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputGroup label {
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
}

.inputGroup input,
.inputGroup textarea {
  padding: 12px;
  border: 1px solid var(--color-text);
  border-radius: 8px;
  background-color: var(--color-textbox);
  color: var(--color-text);
  font-size: 15px;
  outline: none;
}

.inputGroup input:focus,
.inputGroup textarea:focus {
  border-color: var(--color-primary);
  background-color: var(--color-textbox);
}

.submitButton {
  display: flex;
  align-self: center; /* Center the button within the form */
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%; /* Round shape */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background: none; /* Remove default background */
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* For other browsers */
  background: var(--hero-color); /* Apply gradient background to text */
  color: transparent; /* Makes the text color transparent */
}

.submitButton:hover {
  transform: scale(1.2); /* Enlarge on hover */
}

.icon {
  width: 40px;
  height: 40px;
  align-self: center;
  display: inline-block;
  margin-left: 3px;
  transition: transform 0.3s ease;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    justify-content: center;

  }
  .text {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    white-space: nowrap;

  }
  .text p{
    font-size: 1em;
    padding-top: 10%;
    padding-bottom: 5%;
    
  }

  .form {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 30px;

  }
  .text h2{
    font-size: 1rem;
  }
  .text p{
    font-size: 14px;
  }

  .form {
    width: 100%;
  }
  .inputGroup label {
    font-size: 14px;
    padding: 2px;
  }
}
