/* Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Krona One', sans-serif;
  
}

html {
  scroll-behavior: smooth;
  cursor: none; 
  width: 100%;
  overflow-x: hidden;
}
body {
  cursor: none; 
  width: 100%;
  overflow-x: hidden;
  
}