/* Dark theme */
:root {
  --color-text: #fff; 
  
  background: #1c1c1cfa;
  background-image: radial-gradient(white 0.8px, transparent 0);
  background-size: 50px 50px;
  background-position: -10px -10px;

  --color-project: #2c2c2c;
  --color-textbox:rgba(28, 28, 28, 0.980);
  --color-submit: white;
  --font-krona-one: 'Krona One';
  --cursor-color: rgb(255, 155, 4);
}

/* Light theme */
[data-theme='light'] {
  --color-text: #000; 
  background: rgba(255, 255, 255, 0.980);
  background-image: radial-gradient(black 1.2px, transparent 0);
  background-size: 50px 50px;
  background-position: -10px -10px;
  --color-project: #fcfcfc;
  --color-primary: #ffffff1d;
  --color-textbox:rgba(255, 255, 255, 0.980);
  --color-submit: black;
  --font-krona-one: 'Krona One';
  --cursor-color: orange;
}
